@using Microsoft.AspNetCore.Identity
@using PizzaWebshopCore2.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Veravoni Pizza</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="white">
        <div class="nav-wrapper container">
            <a href="/home/index" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i style="color: black;" class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a asp-controller="Dishes" asp-action="Index">Foods</a></li>
                @if (!SignInManager.IsSignedIn(User))
                {
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="Logout">Sign out</a></li>
                }
                @if (User.IsInRole("Admin"))
                {
                    <li><a asp-controller="Manage" asp-action="Index">Manage</a></li>
                }

               
                
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a asp-controller="Dishes" asp-action="Index">Foods</a></li>
                <li><a asp-controller="Account" asp-action="Login">Login</a></li>
            </ul>
        </div>
    </nav>
@RenderBody()
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".button-collapse").sideNav();
     });

</script>
<style>
    nav ul a, nav .brand-logo {
        color: #444;
    }
    body {
        background-image: url(/images/landing-page.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }
</style>
</body>

</html>