@model PizzaWebshopCore2.Models.Home.IndexViewModel

    <header id="showcase">
        <h1 id="h1-welcome">Welcome to pizza place</h1>
        <p id="p-welcome">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel nulla mattis, scelerisque ante a, lacinia quam. Etiam faucibus nisi sed ante congue</p>
        <a class="waves-effect waves-light btn-large blue-grey darken-4 waves-effect waves-teal"><i class="material-icons right">subdirectory_arrow_right</i>Continue</a>
    </header>


<style>
    #h1-welcome {
        color: white;
        padding: 6px;
        background: #90a4ae;
        margin: 0;
    }
    #p-welcome {
        color: white;
        padding: 6px;
        background: #90a4ae;
    }
    #showcase {
        background-image: url(/images/landing-page.jpeg);
        background-size: cover;
        background-position: center;
        height: 91.5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;

    }
</style>