@model PizzaWebshopCore2.Models.Home.IndexViewModel

<header id="showcase">
    <div class="row">
        <div class="col s12 m8 l6 offset-l3">
            <h1 id="h1-welcome">Welcome to pizza place</h1>
            <p id="p-welcome">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel nulla mattis, scelerisque ante a, lacinia quam. Etiam faucibus nisi sed ante congue</p>
        </div>
    </div>
    <a asp-action="Index" asp-controller="Dishes" class="waves-effect waves-light btn-large blue-grey darken-4 waves-effect waves-teal"><i class="material-icons right">subdirectory_arrow_right</i>Continue</a>
</header>


<style>
    #h1-welcome {
        color: white;
        padding: 6px;
        background: #263238;
        margin: 0;
        opacity: .7;
    }
    #p-welcome {
        color: white;
        padding: 6px;
        background: #263238;
        opacity: .7;
        margin: 0 0 10px;
    }
    #showcase {
        height: 91.5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;

    }
</style>