@model PizzaWebshopCore2.Models.Dishes.CheckoutViewModel

<div class="container">
    <div class="row">
        <div style="height: 70vh;" class="col s12 m7 l8">
            <h1>Checkout</h1>
            <table class="responsive-table blue-grey darken-1">
                <thead>
                <tr>
                    <th>Dish</th>
                    <th>Dish Price</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var dish in Model.Cart.Dishes)
                {
                    <tr>
                        <td>
                            @dish.Name
                            @foreach (var ingredient in dish.Ingredients)
                            {
                                <span style="font-style: italic; font-size:60%">@ingredient.Name</span>
                            }
                        </td>
                        <td>@dish.Price SEK</td>
                    </tr>
                }
                
                </tbody>
            </table>
        </div>

    </div>
</div>
